# World Bank Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("GFDDData.csv")

In [5]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Afghanistan,AFG,5-bank asset concentration,GFDD.OI.06,NaN,NaN,NaN,NaN,NaN,NaN,...,89.3635,83.133,86.66470,84.8274,79.6688,86.60350,72.1549,71.9406,73.6723,NaN
1,Afghanistan,AFG,Account at a formal financial institution (% a...,GFDD.AI.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.00501,NaN,NaN,9.96100,NaN,NaN,14.5471,NaN
2,Afghanistan,AFG,Account used for business purposes (% age 15+),GFDD.AI.08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.71840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,Account used to receive government payments (%...,GFDD.AI.09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Account used to receive remittances (% age 15+),GFDD.AI.10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.25439,NaN,NaN,NaN,NaN

In [6]:
def transform(data: pd.DataFrame) -> pd.DataFrame:
    """
    Transposes csv data so that years are rows and
    indicators are columns
    """

    # isolate unique countries
    countries = data["Country Name"].unique()
    tables = []

    for country in countries:
        subset = data.loc[data["Country Name"] == country]
        country_name = subset["Country Name"].iloc[0]
        country_code = subset["Country Code"].iloc[0]

        subset = subset.drop(columns=["Country Code", 
                                      "Country Name",
                                      "Indicator Code"])
        
        subset = subset.set_index("Indicator Name")
        subset = subset.T
        subset["Year"] = subset.index
        subset["Country Name"] = country_name
        subset["Country Code"] = country_code
        subset = subset.reset_index(drop=True)
        subset.columns.name = None
        # include only rows where at least one native data point exists
        subset = subset.dropna(thresh=4)
        # drop all columns where 80% of the data is missing
        subset = subset.dropna(thresh=int(subset.shape[0] * .2), axis=1)

        tables.append(subset)

    output = pd.concat(tables)
    return output

In [7]:
df = transform(df)

In [8]:
df.head()

,5-bank asset concentration,"ATMs per 100,000 adults","Bank branches per 100,000 adults",Bank concentration (%),Bank cost to income ratio (%),Bank credit to bank deposits (%),Bank deposits to GDP (%),Bank net interest margin (%),Bank noninterest income to total income (%),Bank overhead costs to total assets (%),...,Nonfinancial corporate bonds to total bonds and notes outstanding (%),Account used for business purposes (% age 15+),Account used to receive government payments (% age 15+),Checks used to make payments (% age 15+),Depositing/withdrawing at least once in a typical month (% age 15+),Firms whose recent loan application was rejected (%),GDP at market prices (constant 2005 US$),GDP per capita (current US$),Loan from an employer in the past year (% age 15+),Mobile phone used to send money (% age 15+)
0,NaN,NaN,NaN,NaN,NaN,615.470,0.315881,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,498.675,0.384550,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,355.901,0.529605,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,312.162,0.589172,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,255.714,0.762053,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN