In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("high-tech-jobs.csv", parse_dates=["periode"])
df.head()

     ins     type_entite           entite    periode  valeur
0   3000          Région         Wallonie 2018-12-31    18.4
1  20002        Province   Brabant Wallon 2018-12-31    61.2
2  25000  Arrondissement         Nivelles 2018-12-31    61.2
3  25005         Commune      Beauvechain 2018-12-31     0.0
4  25014         Commune  Braine-l'Alleud 2018-12-31    64.8

In [11]:
df.shape

(288, 5)

In [12]:
df.dtypes

ins                     int64
type_entite            object
entite                 object
periode        datetime64[ns]
valeur                float64
dtype: object

In [14]:
df.describe(percentiles=[.10, .25, .75, .90])

                ins      valeur
count    288.000000  284.000000
mean   64158.173611    4.825352
std    19347.079901   14.930631
min     3000.000000    0.000000
10%    25123.700000    0.000000
25%    55027.250000    0.000000
50%    62099.500000    0.000000
75%    83028.750000    0.025000
90%    91115.800000   11.480000
max    93090.000000   93.100000